<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portafolio Juan Esteban</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand me-5" href="/"><p class="h3 me-5" th:text="${concatname}"></p></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav  mb-2 mb-lg-0 justify-content-center">
                    <li class="nav-item border rounded p-2">
                        <a class="nav-link active p-0" aria-current="page" href="/"><p class="h5">Inicio</p></a>
                    </li>
                    <li class="nav-item border rounded p-2">
                        <a class="nav-link p-0" href="/projects"><p class="h5">Proyectos Personales</p></a>
                    </li>
                    <li class="nav-item border rounded p-2">
                        <a class="nav-link p-0" href="/home"><p class="h5">Acerca de</p></a>
                    </li>
                    <li class="nav-item border rounded p-2">
                        <a class="nav-link p-0" href="/contact"><p class="h5">Contacto</p></a>
                    </li>
                </ul>
            </div>
            <span class="navbar-text ml-auto ms-5">
                <img alt="logo" style="height: 5rem;" th:src="@{/images/imgPersonal.png}" class="rounded-circle">
            </span>
        </div>
    </nav>

</header>

<main>
    <div class="row">
        <div class="col-xs-12 col-md-4 border rounded-3 ms-4 mt-4">
            <h4 class="mt-5 text-center">Información Personal</h4>
            <div class="text-center mt-4">
                <p>
                    ¡Hola! Soy un ingeniero de sistemas apasionado por la tecnología, con 23 años de edad y nacido el 12 de junio de 2000. Mi enfoque principal se centra en el desarrollo web y Business Intelligence.
                </p>
                <p>
                    Como desarrollador web, tengo experiencia en una variedad de tecnologías, incluyendo React, Java Spring Boot, HTML, CSS, JavaScript, TypeScript, Angular y Figma. Estas herramientas me permiten crear aplicaciones web dinámicas y atractivas, así como diseñar experiencias de usuario cautivadoras.
                </p>
                <p>
                    En el campo del Business Intelligence, tengo la capacidad de realizar ETL (Extract, Transform, Load) y desarrollar tableros de control en Power BI. Esto me permite analizar datos de manera efectiva y brindar información valiosa para la toma de decisiones empresariales.
                </p>
                <p>
                    Una de mis fortalezas es mi naturaleza colaborativa y mi habilidad para trabajar en equipo. Disfruto generando ideas creativas y proponiendo soluciones basadas en mis conocimientos. Mi experiencia de 12 meses en programación, junto con proyectos personales como startups y la integración de APIs, me han permitido aplicar mis habilidades de manera práctica y efectiva.
                </p>
                <p>
                    Estoy emocionado por la oportunidad de seguir creciendo como profesional y contribuir a proyectos desafiantes. Siempre estoy dispuesto a aprender y aportar al máximo en cada desafío que enfrento.
                </p>
                <p>
                    ¡Gracias por visitar mi portafolio y conocer un poco más sobre mí! Si tienes alguna pregunta o proyecto en mente, no dudes en ponerte en contacto. Estoy aquí para ayudarte.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-md-7 border rounded-3 ms-4 mt-4">
            <div class="row">
                <div class="col-12">
                    <h4 class="mt-5">Estudios</h4>
                    <div class="mt-4">
                        <p>
                            Soy graduado de la Universidad de La Guajira con honores, obteniendo dos menciones académicas destacadas. La primera fue por mi destacado promedio académico, reflejo de mi compromiso con la excelencia en la educación. La segunda mención fue otorgada por mi tesis meritoria, un proyecto que demostró mi capacidad para abordar problemas complejos y proponer soluciones innovadoras.
                        </p>
                        <p>
                            Además de mi formación académica, he dedicado más de 200 horas a cursos de educación continua para mantenerme actualizado en las últimas tendencias tecnológicas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4 class="mt-3">Habilidades</h4>
                    <div class="mt-4 p-2 table-responsive">
                        <table class="table table-hover table-bordered rounded">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Habilidades</th>
                                <th scope="col">Nivel</th>
                                <th scope="col">Herramientas</th>
                                <th scope="col">Experiencia</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="skill : ${listSkill}">
                                <th scope="row" th:text="${skill.id}"></th>
                                <td th:text="${skill.skill}"></td>
                                <td th:text="${skill.level}"></td>
                                <td th:text="${skill.tools}"></td>
                                <td th:text="${skill.experience}"></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>